<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="bg-white p-4 rounded shadow" style="max-width: 600px; width: 100%;">
    <div class="mb-4 d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 w-100">
      <div class="w-100">
        <label for="langModeSelect" class="form-label me-2 mb-0 fw-bold">
          {{ selectedLanguageMode === 'english-turkish' ? 'Language Mode:' : 'Sprachmodus:' }}
        </label>
        <div class="custom-select-wrapper w-100">
          <select id="langModeSelect" class="form-select custom-select" [(ngModel)]="selectedLanguageMode" (change)="onLanguageModeChange()">
            <option value="german-turkish">
              {{ selectedLanguageMode === 'english-turkish' ? 'German - Turkish' : 'Deutsch - Türkisch' }}
            </option>
            <option value="german-english">
              {{ selectedLanguageMode === 'english-turkish' ? 'German - English' : 'Deutsch - Englisch' }}
            </option>
            <option value="english-turkish">
              English - Turkish
            </option>
          </select>
          <span class="custom-arrow"></span>
        </div>
      </div>
      <div class="w-100">
        <label for="levelSelect" class="form-label me-2 mb-0 fw-bold">
          {{ selectedLanguageMode === 'english-turkish' ? 'Level:' : 'Niveau:' }}
        </label>
        <div class="custom-select-wrapper w-100">
          <select id="levelSelect" class="form-select custom-select" [(ngModel)]="selectedLevel" (change)="onLevelChange()">
            <option value="A1">A1</option>
            <option value="A2">A2</option>
            <option value="B1">B1</option>
            <option value="B2">B2</option>
            <option value="C1">C1</option>
          </select>
          <span class="custom-arrow"></span>
        </div>
      </div>
      <div class="w-100">
        <label for="typeSelect" class="form-label me-2 mb-0 fw-bold">
          {{ selectedLanguageMode === 'english-turkish' ? 'Type:' : 'Typ:' }}
        </label>
        <div class="custom-select-wrapper w-100">
          <select id="typeSelect" class="form-select custom-select" [(ngModel)]="selectedType" (change)="onTypeChange()">
            <option value="noun">{{ selectedLanguageMode === 'english-turkish' ? 'Noun' : 'Nomen' }}</option>
            <option value="verb">{{ selectedLanguageMode === 'english-turkish' ? 'Verb' : 'Verb' }}</option>
            <option value="adjective">{{ selectedLanguageMode === 'english-turkish' ? 'Adjective' : 'Adjektiv' }}</option>
            <option value="adverb">{{ selectedLanguageMode === 'english-turkish' ? 'Adverb' : 'Adverb' }}</option>
          </select>
          <span class="custom-arrow"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3 class="text-center">
          {{ selectedLanguageMode === 'english-turkish' ? 'English' : 'Deutsch' }}
        </h3>
        <ul class="list-group">
          <li *ngFor="let word of selectedLanguageMode === 'english-turkish' ? englishWords : germanWords"
              class="list-group-item"
              [class.matched]="selectedLanguageMode === 'english-turkish' ? isMatchedEnglish(word) : isMatchedGerman(word)"
              [class.selected]="selectedLanguageMode === 'english-turkish' ? selectedEnglish === word : selectedGerman === word"
              [class.bg-danger]="selectedLanguageMode === 'english-turkish' ? wrongMatchEnglish === word : wrongMatchGerman === word"
              (click)="selectedLanguageMode === 'english-turkish' ? selectEnglish(word) : selectGerman(word)">
            <span *ngIf="selectedLanguageMode !== 'english-turkish'" class="fw-bold me-1">
              {{ getArtikel(word) }}
            </span>
            {{ word }}
          </li>
        </ul>
      </div>
      <div class="col">
        <h3 class="text-center">
          {{ selectedLanguageMode === 'german-english' ? 'English' : 'Türkçe' }}
        </h3>
        <ul class="list-group">
          <li *ngFor="let word of selectedLanguageMode === 'german-english' ? englishWords : turkishWords"
              class="list-group-item"
              [class.matched]="selectedLanguageMode === 'german-english' ? isMatchedEnglish(word) : isMatchedTurkish(word)"
              [class.selected]="selectedLanguageMode === 'german-english' ? selectedEnglish === word : selectedTurkish === word"
              [class.bg-danger]="selectedLanguageMode === 'german-english' ? wrongMatchEnglish === word : wrongMatchTurkish === word"
              (click)="selectedLanguageMode === 'german-english' ? selectEnglish(word) : selectTurkish(word)">
            {{ word }}
          </li>
        </ul>
      </div>
    </div>
    <!-- Progress Bar -->
    <div *ngIf="!showCongrats" class="d-flex justify-content-center mt-4">
      <div class="progress" style="height: 24px; width: 400px;">
        <div class="progress-bar" role="progressbar" [style.width.%]="progress" [attr.aria-valuenow]="progress"
          aria-valuemin="0" aria-valuemax="100">
          {{ progress }}%
        </div>
      </div>
    </div>
    <!-- Tebrik Mesajı -->
    <div *ngIf="showCongrats" class="m-auto text-center mt-4">
  <h4 class="text-success">
    {{
      selectedLanguageMode === 'english-turkish'
        ? 'Congratulations! All matched correctly 🎉'
        :'Glückwunsch! Alles richtig zugeordnet 🎉'
    }}
  </h4>
</div>
  </div>
</div>